body {
  background-image:
    linear-gradient(
      360deg,
      #eadedb 0%,
      #fff 50%,
      #aea9b8 75%
    );
  opacity: 0.95;
  background-size: cover;
  height: 100%;
}

h1 {
  padding-bottom: 5%;
  font-weight: 700;
}

.table {
  border: 1px solid black;
}

table th {
  width: 30%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.author {
  font-weight: bolder;
  font-size: 1rem;
}

.title {
  font-weight: bolder;
  font-size: 1rem;
}

.form-control {
  padding: 1.2rem 0.5rem;
}

.bookForm {
  padding-top: 5%;
}
